body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: white;
    cursor: none !important;
}

#custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    z-index: 99999;
    transform: translate(-50%, -50%);
}


#trail-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
}

#control-panel {
    position: fixed;
    top: 10px;
    left: 20px;
    padding: 5px;
    z-index: 1000;
    text-align: center;
}

#slider-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#size-slider {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    height: 100px;
    width: 20px;
    pointer-events: auto;
}

#clear-canvas {
    width: 15px;
    height: 15px;
    background: red;
    border: none;
    border-radius: 50%;
    margin-top: 15px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 5px 3px rgba(255, 0, 0, 0.5);
    pointer-events: auto;
}


.character {
    position: absolute;
    font-size: 42px;
    font-family: 'Noto Sans KR', sans-serif;
    mix-blend-mode: multiply;
    pointer-events: none;
    user-select: none;
    opacity: 0.8;
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

}


/* Mobile Styles */
@media (max-width: 600px) {
    #control-panel {
        top: 5px;
        left: 20px;
        padding: 5px;
    }

    #size-slider {
        height: 80px;
        width: 10px;
    }

    #clear-canvas {
        width: 15px;
        height: 15px;
        margin-left: 10px; /* Add some space from the left */
        margin-top: 10px;
    }

    #custom-cursor {
        width: 15px;
        height: 15px;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    }
}
